In [102]:
import pandas as pd
import math

In [103]:
df = pd.read_csv("heart_attack_prediction_dataset.csv")

In [104]:
df

,Patient ID,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,Obesity,...,Sedentary Hours Per Day,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Country,Continent,Hemisphere,Heart Attack Risk
0,BMW7812,67,Male,208,158/88,72,0,0,1,0,...,6.615001,261404,31.251233,286,0,6,Argentina,South America,Southern Hemisphere,0
1,CZE1114,21,Male,389,165/93,98,1,1,1,1,...,4.963459,285768,27.194973,235,1,7,Canada,North America,Northern Hemisphere,0
2,BNI9906,21,Female,324,174/99,72,1,0,0,0,...,9.463426,235282,28.176571,587,4,4,France,Europe,Northern Hemisphere,0
3,JLN3497,84,Male,383,163/100,73,1,1,1,0,...,7.648981,125640,36.464704,378,3,4,Canada,North America,Northern Hemisphere,0
4,GFO8847,66,Male,318,91/88,93,1,1,1,1,...,1.514821,160555,21.809144,231,1,5,Thailand,Asia,Northern Hemisphere,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8758,MSV9918,60,Male,121,94/76,61,1,1,1,0,...,10.806373,235420,19.655895,67,7,7,Thailand,Asia,Northern Hemisphere,0
8759,QSV6764,28,Female,120,157/102,73,1,0,0,1,...,3.833038,217881,23.993866,617,4,9,Canada,North America,Northern Hemisphere,0
8760,XKA5925,47,Male,250,161/75,105,0,1,1,1,...,2.375214,36998,35.406146,527,4,4,Brazil,South America,Southern Hemisphere,1
8761,EPE6801,36,Male,178,119/67,60,1,0,1,0,...,0.029104,209943,27.294020,114,2,8,Brazil,South America,Southern Hemisphere,0
8762,ZWN9666,25,Female,356,138/67,75,1,1,0,0,...,9.005234,247338,32.914151,180,7,4,United Kingdom,Europe,Northern Hemisphere,1

In [105]:
df.shape

(8763, 26)

In [106]:
df.columns

Index(['Patient ID', 'Age', 'Sex', 'Cholesterol', 'Blood Pressure',
       'Heart Rate', 'Diabetes', 'Family History', 'Smoking', 'Obesity',
       'Alcohol Consumption', 'Exercise Hours Per Week', 'Diet',
       'Previous Heart Problems', 'Medication Use', 'Stress Level',
       'Sedentary Hours Per Day', 'Income', 'BMI', 'Triglycerides',
       'Physical Activity Days Per Week', 'Sleep Hours Per Day', 'Country',
       'Continent', 'Hemisphere', 'Heart Attack Risk'],
      dtype='object')

In [107]:
df = df.drop_duplicates()

In [108]:
df.drop(columns=["Patient ID", "Income", "Continent","Hemisphere"],inplace=True)

In [109]:
blood_pressure_dic = {"Systolic": [], "Diastolic": []}
def div_blood(blood_pressure: str):
    split_str = blood_pressure.split("/")
    blood_pressure_dic["Systolic"].append(int(split_str[0]))
    blood_pressure_dic["Diastolic"].append(int(split_str[1]))

In [110]:
for i in df["Blood Pressure"]:
    div_blood(i)

In [111]:
df["Systolic"] = blood_pressure_dic["Systolic"]
df["Diastolic"] = blood_pressure_dic["Diastolic"]
df.drop(columns=["Blood Pressure"])

,Age,Sex,Cholesterol,Heart Rate,Diabetes,Family History,Smoking,Obesity,Alcohol Consumption,Exercise Hours Per Week,...,Stress Level,Sedentary Hours Per Day,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Country,Heart Attack Risk,Systolic,Diastolic
0,67,Male,208,72,0,0,1,0,0,4.168189,...,9,6.615001,31.251233,286,0,6,Argentina,0,158,88
1,21,Male,389,98,1,1,1,1,1,1.813242,...,1,4.963459,27.194973,235,1,7,Canada,0,165,93
2,21,Female,324,72,1,0,0,0,0,2.078353,...,9,9.463426,28.176571,587,4,4,France,0,174,99
3,84,Male,383,73,1,1,1,0,1,9.828130,...,9,7.648981,36.464704,378,3,4,Canada,0,163,100
4,66,Male,318,93,1,1,1,1,0,5.804299,...,6,1.514821,21.809144,231,1,5,Thailand,0,91,88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8758,60,Male,121,61,1,1,1,0,1,7.917342,...,8,10.806373,19.655895,67,7,7,Thailand,0,94,76
8759,28,Female,120,73,1,0,0,1,0,16.558426,...,8,3.833038,23.993866,617,4,9,Canada,0,157,102
8760,47,Male,250,105,0,1,1,1,1,3.148438,...,5,2.375214,35.406146,527,4,4,Brazil,1,161,75
8761,36,Male,178,60,1,0,1,0,0,3.789950,...,5,0.029104,27.294020,114,2,8,Brazil,0,119,67
8762,25,Female,356,75,1,1,0,0,1,18.081748,...,8,9.005234,32.914151,180,7,4,United Kingdom,1,138,67

In [112]:
df["Heart_Attack_Risk"] = df["Heart Attack Risk"]

In [113]:
df.drop(columns=["Heart Attack Risk", "Blood Pressure"] , inplace = True)

In [114]:
df.columns

Index(['Age', 'Sex', 'Cholesterol', 'Heart Rate', 'Diabetes', 'Family History',
       'Smoking', 'Obesity', 'Alcohol Consumption', 'Exercise Hours Per Week',
       'Diet', 'Previous Heart Problems', 'Medication Use', 'Stress Level',
       'Sedentary Hours Per Day', 'BMI', 'Triglycerides',
       'Physical Activity Days Per Week', 'Sleep Hours Per Day', 'Country',
       'Systolic', 'Diastolic', 'Heart_Attack_Risk'],
      dtype='object')

In [115]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [116]:
X

,Age,Sex,Cholesterol,Heart Rate,Diabetes,Family History,Smoking,Obesity,Alcohol Consumption,Exercise Hours Per Week,...,Medication Use,Stress Level,Sedentary Hours Per Day,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Country,Systolic,Diastolic
0,67,Male,208,72,0,0,1,0,0,4.168189,...,0,9,6.615001,31.251233,286,0,6,Argentina,158,88
1,21,Male,389,98,1,1,1,1,1,1.813242,...,0,1,4.963459,27.194973,235,1,7,Canada,165,93
2,21,Female,324,72,1,0,0,0,0,2.078353,...,1,9,9.463426,28.176571,587,4,4,France,174,99
3,84,Male,383,73,1,1,1,0,1,9.828130,...,0,9,7.648981,36.464704,378,3,4,Canada,163,100
4,66,Male,318,93,1,1,1,1,0,5.804299,...,0,6,1.514821,21.809144,231,1,5,Thailand,91,88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8758,60,Male,121,61,1,1,1,0,1,7.917342,...,1,8,10.806373,19.655895,67,7,7,Thailand,94,76
8759,28,Female,120,73,1,0,0,1,0,16.558426,...,0,8,3.833038,23.993866,617,4,9,Canada,157,102
8760,47,Male,250,105,0,1,1,1,1,3.148438,...,0,5,2.375214,35.406146,527,4,4,Brazil,161,75
8761,36,Male,178,60,1,0,1,0,0,3.789950,...,1,5,0.029104,27.294020,114,2,8,Brazil,119,67
8762,25,Female,356,75,1,1,0,0,1,18.081748,...,0,8,9.005234,32.914151,180,7,4,United Kingdom,138,67

In [117]:
num_col = ["Heart Rate", "Systolic", "Diastolic"]

In [118]:
num_col

['Heart Rate', 'Systolic', 'Diastolic']

In [119]:
cat_col = X.select_dtypes(include=object).columns.tolist()

In [120]:
cat_col

['Sex', 'Diet', 'Country']

In [121]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder

In [122]:
ct = ColumnTransformer(
    transformers=[
        ("encoder", OneHotEncoder(), cat_col),
        # ("scaler", StandardScaler(), num_col),
        
    ],
    remainder="passthrough",
)

In [123]:
X = ct.fit_transform(X)

In [124]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [125]:
from sklearn.svm import SVC
svm_classifier = SVC(kernel="rbf", random_state=0)
svm_classifier.fit(X_train, y_train)

y_pred_svm = svm_classifier.predict(X_test)

In [ ]:
import pickle

with open("heart_attack_xgboost.pkl", "wb") as f:
    pickle.dump(svm_classifier, f)